---
interface Props {
  name: string;
  image: string;
  url: string;
  pokeId: number | string | undefined;
  isBig? : boolean;
  currentPage?: number;
}

import { Image } from 'astro:assets';

const {name, image, url, pokeId, isBig = false} = Astro.props;
---
  <section class="mt-5 flex flex-col justify-center items-center group">
    <Image  transition:name=`pokemon-${name}-${pokeId}` width={isBig ? 500 :150} height={isBig ? 500 :150} loading={"eager"} class:list={["group-hover:brightness-110 group-hover:scale-105 duration-300 transition-all", isBig && "brightness-100"]} src={image} alt={`Representation of ${name} Pokemon`} />
    { !isBig && <h2 class="py-3 capitalize group-hover:text-yellow-200 duration-300 transition-all">{name}</h2>}
  </section>
</a>
