---
import type { GetStaticPaths } from "astro";
import MainLayout from '@layouts/MainLayout.astro';
import PokemonCard from '@components/pokemons/PokemonCard.astro';
import type { PokemonListResponse } from '../../interfaces/pokemon-list-response';

export const getStaticPaths = (async ({paginate}) => {
	
	const response = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151');
	const {results} = (await response.json()) as PokemonListResponse;
	
	return paginate(results, { pageSize: 20} );
}) satisfies GetStaticPaths;

const { page } = Astro.props;


---

<MainLayout title="Pokemon Static | Home">
	<h1 class="text-3xl py-3">Listado de Pokemons</h1>
		<section aria-label="Listado de Pokemons" class="grid grid-cols-2 gap-4 sm:grid-cols-4 md:grid-cols-5">
			{
				page.data.map(({name, url}) => {
					const id = url.split('/').at(-2);
					const pokemonSprite = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
					return (
						<a href=`/pokemons/${name}`>
							<PokemonCard currentPage={page.currentPage} pokeId={id} name={name} url={url} image={pokemonSprite} />
						</a>
					)
				}
			)}
		</section>

		<section class="flex mt-10 justify-between items-center border-t pt-4 border-slate-600">
			<div class="flex gap-x-4">
				<a class:list={['btn', !page.url.prev && 'disabled']} href={page.url.prev}>Anterior</a>
				<a class:list={['btn', !page.url.next && 'disabled']} href={page.url.next}>Siguiente</a>
			</div>
			<span class="text-xl font-bold text-slate-400">Página Actual: {page.currentPage}</span>
		</section>
</MainLayout>